footer {
	clear: both;
	border-top: 1px solid #606060;
}

footer p {
	text-align: center;
}

#mensagem {
	text-align: center;
	margin-top: 10px;
}

#div-img-desenvolvedor {
	margin-top: 20px;
}

th, td{
	text-align: center;
}

.largura {
	width: 80%;
}

table {
	margin-top: 20px;
}

section {
	min-height: 35%;
}
