footer {
	clear: both;
	border-top: 1px solid #606060;
}

footer p {
	text-align: center;
}

#mensagem {
	text-align: center;
	margin-top: 10px;
}

#div-img-desenvolvedor {
	position: relative;
	float: left;
	margin-top: 10px;
}

#div-conteudo-desenvolvedor {
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}